<div class="column">
  <div class="card">
    <% if customer.image.present? %>
      <div class="card-image">
        <figure>
          <%= image_tag customer.image%>
        </figure>
      </div>
    <% end %>
    <div class="card-content">
      <p class="title"><%= link_to customer.full_name, customer %></p>
      <div class="content">
        <p><strong>Notes: </strong><%= customer.notes %></p>
        <p><strong>Phone: </strong><%= customer.phone %></p>
        <p><strong>Email: </strong><%= customer.email %></p>
      </div>
    </div>
  </div>
</div>