<div class="column">
  <div class="card">
    <div class="card-content">
      <p><strong><%= customer.full_name %></strong></p>
      <% if customer.image.present? %>
        <div class="card-image">
          <figure>
            <%= image_tag customer.image%>
          </figure>
        </div>
      <% end %>
      <div class="content">
        <p><strong>Notes: </strong><%= customer.notes %></p>
        <p><strong>Phone: </strong><%= customer.phone %></p>
        <p><strong>Email: </strong><%= customer.email %></p>
      </div>
    </div>
  </div>
</div>